body {
    background-color: black;
    background-image: radial-gradient(circle, #ff00ff, #0000ff, #00ff00);
    color: navy;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    color: lime;
    text-shadow: 4px 4px red;
  }
  
  h2 {
    color: blue;
    background-color: orange;
  }
  
  p {
    font-size: 18px;
  }
  
  .blink {
    animation: blink-animation 0.8s steps(2, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  marquee {
    font-size: 20px;
    color: cyan;
    font-weight: bold;
  }